*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
file.xml

node_modules
.build/*
npm-debug.log
book_img
book_video(and gif)


# Sensitive or high-churn files:
.idea/
npm-debug.*
yarn.lock*
package-lock.json
coverage/